/* ------------------------------------ */
/* BASIC SETUP */
/* ------------------------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
   font-size: 20px;
    color: #ecf0f1;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background-color: #34495e;
}

/* ------------------------------------ */
/* REUSEABLE */
/* ------------------------------------ */
h1 {
    font-size: 200%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 100%;
    font-weight: 400;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin-bottom: 5px;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

/* HEADING */
header {
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
}

/* TIME SETTINGS */
.section-set-time {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    margin: 25px 0 0 19px;;
}

/* BUTTON */
button {
    cursor: pointer;
    font-size: 110%;
}

.btn-ghost {
    border: 0;
    background-color: #34495e;
    margin: 0 5px;
    color: #ecf0f1;
}

#start-clock {
    border: 1px solid #e67e22;
    background-color: #e67e22;
    width: 70px;
    height: 45px;
    margin: 8px 25px;
    border-radius: 30%
}

*:focus {outline: none;}

/* ------------------------------------ */
/* TIMER BODY */
/* ------------------------------------ */
.body-circle {
    border: 5px solid #2c3e50;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin: 50px auto 0 auto;
}

.body-circle h1:first-child { margin-top: 90px; }

.body-circle h1 {
    font-size: 300%;
    text-align: center;
}

/* ------------------------------------ */
/* FOOTER */
/* ------------------------------------ */
footer { font-size: 150%; }

.footer-nav{
    position: fixed;
    left: 25px;
    bottom: 25px;
}

.social-links li {
    list-style-type: none;
    display: inline-block;
    margin-left: 10px;
}

.social-links li i { color: #e67e22; }

.ion-social-github,
.ion-social-twitter,
.ion-social-twitter,
.ion-ios-flame,
.ion-social-codepen,
.ion-social-linkedin { -webkit-transition: color 0.4s; transition: color 0.4s; }

.ion-social-github:hover { color: #000000; }
.ion-social-twitter:hover { color: #55acee }
.ion-ios-flame:hover { color: darkgreen; }
.ion-social-codepen:hover { color: #fff; }
.ion-social-linkedin:hover { color: #007bb5; }